body {
  font-family: 'Roboto Mono', monospace;
}

body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

body::before {
  background: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  background: #424242;
  padding-left: 2px;
  padding-right: 2px;
}

a:hover {
  font-weight: bold;
  background: #E53935;
  padding-left: 4px;
  padding-right: 4px;
}

p {
  font-size: 18px;
  padding-right: 16px;
  line-height: 32px;
}

.tagline {
  font-size: 12px;
  padding-right: 16px;
  line-height: 24px;
  color: #9E9E9E;
  font-style: italic;
}

.links {
  line-height: 48px;
}

.color-brand-red {
  color: #E53935;
}

.color-brand-black {
  color: #212121;
}

.color-orange {
  color: #F57C00;
}

.color-green {
  color: #4aa87a;
}

.background-brand-black {
  background: #212121;
}

.background-brand-red {
  background: #E53935;
}

.background-orange {
  background: #F57C00;
}

.background-green {
  background: #4aa87a;
}

.background-white {
  background: #fff;
}

.initials {
  font-family: 'Roboto Mono', monospace;
  font-size: 128px;
  font-weight: 100;
  display: inline-block;
}

.initials-small {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
}

.name {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.iit-mandi:hover {
  background: #03A9F4;
}

.resume:hover {
  background: #3F51B5;
}

.instagram:hover {
  background: #e1306c;
}

.github:hover {
  background: #333;
  margin-bottom: 8px;
}

.linkedin:hover {
  background: #0077b5;
}

.unsplash:hover {
  background: #000000;
}

.twitter:hover {
  background: #1da1f2;
}

.play-store:hover {
  background: #9CCC65;
}

.mail:hover {
  background: #F44336;
}

.demo-blog .demo-blog__posts {
  max-width: 900px;
  padding-left: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*width: 100%;*/
  margin: 0 auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-blog.mdl-layout .mdl-layout__content {
  padding-top: 0px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

/* Fixes for IE 10 */
.mdl-grid {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.mdl-card {
  cursor: pointer;
}

.layout .mdl-layout__header .mdl-layout__drawer-button {
  color: #212121;
}
.mdl-layout__drawer {
  margin-bottom: 16px;
}

.drawer {
  border: none;
}

/* iOS Safari specific workaround */
.drawer .mdl-menu__container {
  z-index: -1;
}

.drawer .demo-navigation {
  z-index: -2;
}

.demo-header, .drawer {
  box-shadow: 0 0 0;
}

/* END iOS Safari specific workaround */
.drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}

.drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.demo-navigation {
  flex-grow: 1;
}

.layout .demo-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}

.navigation__link {
  background: #fff;
  color: #212121;
}

.navigation__link-selected {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 32px;
}

.blog {
  background: #FAFAFA;
  cursor: pointer;
}

.blog:hover {
  box-shadow: 0px 2px 8px #E0E0E0;
}

.blog-title {
  min-height: 128px;
}

.blog-title-text {
  font-size: 64px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  color: #212121;
  margin-top: 64px;
  line-height: 72px;
}

.blog-main-text {
  padding-top: 60px;
  font-family: 'IBM Plex Serif', serif;
}

.blog-main-text p {
  font-size: 20px;
}

.blog-text {
  /*font-family: 'IBM Plex Sans', sans-serif;*/
  font-family: 'IBM Plex Serif', serif;

}

.blog-date {
  text-align:right;
}

.blog-date-big {
  text-align:right;
  padding-top: 16px;
}
.blog-meta {
  text-align:right;
}

.blog-author {
  text-align:right;
  font-size: 24px;
  font-style: italic;
  padding-top: 30px;
  font-family: 'Roboto Mono', monospace;
}

.blog-date-text {
  font-family: 'Roboto Mono', monospace;
  background: #EEEEEE;
  color: #9E9E9E;
  font-size: 12px;
}

.blog-date-text-big {
  font-family: 'Roboto Mono', monospace;
  background: #EEEEEE;
  color: #9E9E9E;
  font-size: 14px;
}
