.mdl-layout__header {
	background-color: #fff;
}

.my-name {
	font-weight: 700;
	font-feature-settings: "smcp", "onum";
	font-family: 'Roboto', monospace;
}

/* .my-name:hover {
	color: #40C4FF;
} */

.normal-text {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
    letter-spacing: .02em;
    line-height: 1.6em;
}

.limit_width {
	max-width: 750px;
	margin-right: auto;
	margin-left: auto;
}

.avatar-round__large {
    width: 98px;
    height: 98px;
    border-radius: 49px;
}

.empty-grid-element, .empty-header-element {
	height: 48px;
}

a.link {
	text-decoration: none;
	color: #212121;
	background: #ECEFF1;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
    letter-spacing: .02em;
	line-height: 1.6em;
	padding-left: 4px;
	padding-right: 4px;
	margin-right: 8px;
}

a.link:hover {
	font-weight: 700;
	background: #212121;
	padding-left: 4px;
	padding-right: 4px;
	color: #fff;
}

.mdl-layout__header-row {
	padding: 0 32px 0 32px;
}

.layout__header-row {
	padding: 0 32px 0 32px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	box-sizing: border-box;
	align-items: center;
}

.material-icons {
	font-size:20px;
	color: #555;
}

.mdl-snackbar__text {
	color: #ECEFF1;
	font-weight: 500;
	font-feature-settings: "smcp";
	font-family: 'Roboto', monospace;
	font-size: 16px;
}

.mdl-snackbar {
	background: #212121;
}

.last-updated {
	color: #777;
	font-weight: 500;
	font-feature-settings: "smcp", "onum";
	font-family: 'Roboto', monospace;
}