.mdl-layout__header {
	background-color: #fff;
}

.my-name {
	font-weight: 500;
	font-feature-settings: "smcp" 1, "onum" 1;
	font-family: 'Roboto Mono', monospace;
}

.career-tabs .mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
	margin-right: 16px;	
}

.career-tabs .mdl-list__item .mdl-list__item-primary-content {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

.career-tabs .mdl-tabs__tab-bar {
	background-color: #fff;
}

.quick-links, .career-intro, .clicked-photo {
	padding-left: 32px;
	padding-right: 32px;
}

.quick-links {
	background: #ECEFF1;
	padding-bottom: 24px;
}

.career-intro {
    text-align: center;
}

.career-intro p {
	max-width: 750px;
	display: inline-block;
	text-align: left;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
    letter-spacing: .02em;
    line-height: 1.6em;
}

.mdl-grid {
	padding: 0px;
}

.mdl-cell {
	margin: 0px;
}

.mdl-cell--12-col, .mdl-cell--12-col-phone, .mdl-cell--12-col-phone.mdl-cell--12-col-phone {
	width: calc(100%);
}

.career-panel {
	padding-top: 32px;
}

.avatar-round__large {
    width: 72px;
    height: 72px;
    border-radius: 36px;
}

.empty-grid-element, .empty-header-element {
	height: 48px;
}

a.link {
	text-decoration: none;
	color: #212121;
	background: #ECEFF1;
	padding-left: 2px;
	padding-right: 2px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}

a.link:hover {
	font-weight: 700;
	background: #81D4FA;
	padding-left: 4px;
	padding-right: 4px;
	color: #000;
}

.link {
	margin-right: 8px;
	margin-left: 8px;
}

.links {
	line-height: 32px;
	text-align: center;
}

.clicked-photo {
	text-align: center;
}

.clicked-photo img {
	width: 100%;
	height: auto;
	max-width: 480px;
}

.mdl-layout__header-row {
	padding: 0 32px 0 32px;
}

.layout__header-row {
	padding: 0 32px 0 32px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	box-sizing: border-box;
	align-items: center;
}

.clicked-photo p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	margin-top: 24px;
}

.clicked-photo p::before {
    content: "“";
    font-weight: 700;
}

.clicked-photo p::after {
    content: "”";
    font-weight: 700;
}

.grid-heading {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: .04em;
	font-size: 14px;
	color: rgba(0,0,0,.87);
	text-transform: uppercase;
	padding-top: 24px;
	padding-bottom: 24px;
	background: #ECEFF1;
}